
      * {
        font-family: "Poppins", sans-serif;
      }

      body {
        background-image: url(https://www.wallpaperup.com/uploads/wallpapers/2014/01/21/234414/e688272d4a4c18408e0549a7f4d7183f-1000.jpg);
      }

      #logo_search_bar {
        width: 540px;
        margin: auto;
        margin-top: 130px;
      }

      #logo > img {
        height: 200px;
        margin-bottom: 10px;
      }

      #logo {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      #search_bar {
        display: flex;
        box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
          rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
          rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
        border-radius: 15px;
        width: 510px;
        height: 30px;
        padding: 10px;
        background-color: #2d2f30;
      }

      #id_input {
        border: none;
        width: 500px;
        background-color: #2d2f30;
        border-radius: 5px;
        padding-left: 5px;
        color: white;
      }

      .material-symbols-outlined {
        color: yellow;
        height: 40px;
        cursor: pointer;
        margin-left: 10px;
      }

      #container {
        height: 250px;
        width: 480px;
        overflow: scroll;
        overflow-x: hidden;
        background-color: #2d2f30;
        border-radius: 10px;
        margin: auto;
        margin-top: 5px;
        padding: 10px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        gap: 20px;
        display: none;
      }

      #box {
        padding: 10px;
        color: white;
        display: flex;
        justify-content: space-between;
      }

      #box:hover {
        color: yellow;
      }

      #error {
        color: white;
        padding: 10px;
        width: 250px;
        margin: auto;
        display: none;
      }